<br>
<body>
<div class="expenselist">
    <div class="container" *ngFor = "let ex of expense">
        
        <div class="info">
           <h3>{{ex.name}} <span style = "float: right;">Amount 💰 :  ${{ex.amount}}</span></h3>
           <!-- <button (click)="ViewMovie(movie.id)">View</button> -->
           <p><span>Date of Expense : </span>{{ex.date}}</p>
           <p><span>Description:</span> {{ex.desc}}</p>
           
           <button (click)="DelMovie(ex)">Delete ❌</button><br><br>
           <button (click)="UpdateExpense(ex.id)">Update</button> 
    
           <br>
         </div>
    </div>

</div>
</body>   
