<br>
<body>

<div class="form">
    <h2>Add Expenses</h2>
    <input type="text" #name placeholder="Enter Expense Name"><br>
    <input type="text" #amount placeholder="Enter the amount"><br>
    <input type="text" #date placeholder="Enter the deadline"><br>
    <input type="text" #desc placeholder="Enter Summary of the Expense"><br>
    <input type="submit" value="Submit" (click)="AddExpense(name.value,amount.value,date.value,desc.value)">
  
</div>
<div class="expenselist">
    <div class="container" *ngFor = "let ex of expense">
        
        <div class="info">
           <h3>{{ex.name}} <span style = "float: right;">Amount 💰 :  ${{ex.amount}}</span></h3>
           <!-- <button (click)="ViewMovie(movie.id)">View</button> -->
           <p><span>Date of Expense : </span>{{ex.date}}</p>
           <p><span>Description:</span> {{ex.desc}}</p>
           
           <button (click)="DelMovie(ex)">Delete ❌</button><br><br>
           <button (click)="UpdateExpense(ex.id)">Update</button> 
    
           <br>
         </div>
    </div>


</div>
</body>   
